
body {
    background-image: url('/images/back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#t1{
    width:100%;
}
#i1 {
    width: 50px; height: 50px;
}
#m {
    color: palevioletred;
    
    width :100%;
}
#h{
    font-family:italic;color:palevioletred;font-size:30px;
}
#p {
    font-family:italic;color:palevioletred;font-size:30px;
}
#b {
   background-color:orange;width:750px;height:100px;
}